.git
.github
**/.git
node_modules
**/node_modules
**/__pycache__
platform/backend/runs/*
platform/backend/__pycache__
platform/frontend/src
platform/frontend/public
platform/frontend/*.js
platform/frontend/*.json
platform/frontend/eslint.config.js
*.ipynb
*.csv
*.md
.gemini
.agents
