# Python cache
__pycache__/
*.pyc

# OpenMC / simulation outputs
runs/
*.h5
*.out
statepoint*
summary.h5
tallies.*

# Frontend
node_modules/

# OS
.DS_Store

# C++ Build outputs (Geant4 compilations)
build/
bin/
*.o
*.a
beavrs_assembly
beavrs_assembly.exe